DEBUG=<Enables debug engine and stores checkpoint and store to memory>
LOCAL_OLLAMA_URL=<URL for the local Ollama server>
LOG_LEVEL=<Logging level>
LOG_LEVEL_AIOSQLITE=<aiosqlite logging level>
NOTIFIER_URL=<URL for the user notification module>
STORE_EMBEDDINGS_MODEL=<Embedding model used in local store>